<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-padding-start">Add Emergency About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <form class="footerform" [formGroup]="contactForm" (ngSubmit)="savecontact(contactForm.value)">
    <!-- <ion-button (click)="contact()">Create Contact</ion-button> -->

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="contact_name" #name_focus></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contact#</ion-label>
      <ion-input formControlName="emergency_no" (keypress)="_keyPress($event)" type="tel"></ion-input>
      <!-- <ion-icon name="contact" (click)="presentModal()"></ion-icon> -->
    </ion-item>
    <ion-radio-group [(ngModel)]="contactType" [ngModelOptions]="{standalone: true}">
      <ion-item *ngFor="let contactType of userContactType">
        <ion-label>{{contactType.label}}</ion-label>
        <ion-radio type="radio" slot="start" [value]="contactType.user_type"></ion-radio>
      </ion-item>
      <!-- <ion-item>
      <ion-label>doctor</ion-label>
      <ion-radio slot="start" value="doctor"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Care Giver</ion-label>
      <ion-radio slot="start" value="care-giver"></ion-radio>
    </ion-item> -->
    </ion-radio-group>
    <!-- <ion-item class="ion-float-right">
      <ion-button type="submit">Save</ion-button>
    </ion-item> -->
    <div class="footer">
      <ion-button expand="block" (click)="close()">
        Cancel
      </ion-button>
      <button type="submit" class="btn_submit">
        Save
      </button>
    </div>
  </form>
</ion-content>