<ion-header>
  <ion-toolbar class="no-background">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="self-care-tabs/tabs/tab1/health-diary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar color="tertiary" *ngIf="proBar"></ion-progress-bar> <!--[value]="progress"-->
</ion-header>

<ion-content class="ion-text-center">
  <!-- <button (click)="play()">Play</button> -->
  <h1 class="timer">{{time}}</h1>
  <!-- <button (click)="fileUpload()">Play</button> -->
    <div class="footer ion-padding">
      <!-- //start() -->
      <ion-button [disabled]="!isenabled" (click)="start()">
        <i class="start" *ngIf="!Pause">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><circle cx="25" cy="25" r="25" fill="#ff68ab"/></svg>
        </i>
        <i class="pause" *ngIf="Pause">
          <svg xmlns="http://www.w3.org/2000/svg" width="24.562" height="41.2" viewBox="0 0 24.562 41.2"><g transform="translate(-129 -575)"><rect width="7.131" height="41.2" transform="translate(129 575)" fill="#ff68ab"/><rect width="7.131" height="41.2" transform="translate(146.431 575)" fill="#ff68ab"/></g></svg>
        </i>
      </ion-button>
      <ion-button *ngIf="Pause" [disabled]="!Stop" (click)="stop()">
        <i class="stop">
          <svg xmlns="http://www.w3.org/2000/svg" width="41.2" height="41.2" viewBox="0 0 41.2 41.2"><rect width="41.2" height="41.2" fill="#ff68ab"/></svg>
        </i>
      </ion-button>
    </div>
  <!-- <ion-button color="primary" [disabled]="isenabled" (click)="confirm()">
    <ion-icon name="checkmark-circle"></ion-icon>
  </ion-button> -->

  <!-- <div class="row" style="margin-top: 75% !important;margin-left: 20px;">
    <div class="btn-label" id="upload_record">
      <ion-button [disabled]="!isenabled" (click)="start()"> -->
        <!-- <ion-icon name="ios-mic-outline" *ngIf="!Pause"></ion-icon> -->
        <!-- <ion-icon name="mic" *ngIf="!Pause"></ion-icon> -->
        <!-- <ion-icon name="play" *ngIf="Pause"></ion-icon> -->
        <!-- <ion-icon name="pause" *ngIf="Pause"></ion-icon> -->
        <!-- <ion-icon name="ios-pause-outline" *ngIf="Pause"></ion-icon> -->
      <!-- </ion-button> -->
      <!-- <p *ngIf="!Pause">Record</p>
        <p *ngIf="Pause">Pause</p> -->
    <!-- </div>

    <div class="btn-label" id="upload_record">
      <ion-button style="font-size: 13px;background: #ece2e2de;color: black;" [disabled]="!Stop" (click)="stop()"> -->
        <!-- <ion-icon name="square-outline"></ion-icon> -->
        <!-- <ion-icon name="square"></ion-icon> -->
        <!-- <ion-icon name="mic"></ion-icon> -->
      <!-- </ion-button>
      <p>Stop</p>
    </div>

    <div class="btn-label" id="upload_record" (click)="confirm()">
      <ion-button color="primary" [disabled]="isenabled"> -->
        <!-- <ion-icon name="ios-checkmark-circle-outline"></ion-icon> -->
        <!-- <ion-icon name="checkmark-circle"></ion-icon>
      </ion-button>
      <p>Confirm</p>
    </div>
  </div> -->

  <!-- <button (click)="play()">Play</button> -->

</ion-content>
<ion-backdrop *ngIf="proBar"></ion-backdrop>