@import "../../app.scss";

ion-item {
  --background: #ffffff;
  --border-width: 0;
  --border-style: unset;
  --color: #2c2c2c;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 6px;
  --padding-bottom: 6px;

  &:not(:last-child) {
    @include border(0 0 1px 0, solid, #e3e3ef);
  }

  &:first-child {
    background: #2c2c2c;
    ion-label.ion-text-end {
      max-width: 80px;
    }
  }

  h3 {
    @include font(1rem, 400, 0, unset, inherit, inherit, $font_color);
  }

  p {
    @include font(0.8rem, 400, 0, unset, inherit, inherit, $dark_grey);
  }
}

.qr_preview {
  padding: 16px 16px 10px;

  ion-thumbnail {
    --size: 96px;
    margin: 0 auto;
    @include border(1px, solid, #ececec);
  }

  h1 {
    @include font(1.25rem, 400, 0, capitalize, inherit, inherit, $font_color);
    margin-top: 10px;
  }

  ion-button {
    height: auto;
    --border-radius: 14px;
    --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    --padding-bottom: 8px;
    --padding-end: 14px;
    --padding-start: 14px;
    --padding-top: 8px;
    @include font(0.8rem, 400, 0, unset, inherit, inherit, $font_color);

    svg {
      margin-right: 2px;

      path {
        fill: $font_color;
      }
    }
  }
}

.trans_btn {
  @include font(0.75rem, 500, 0, capitalize, inherit, inherit, none);
  --color: #ea4e4e;
  --color-activated: #ea4e4e;

  svg {
    margin: -1px 2px 0 0;
  }
}

ion-list-header {
  padding-left: 0px;
  min-height: 0;
  position: relative;
  
  @include font(0.8rem, 400, 0, unset, inherit, inherit, $primary);

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: #ececec;
    z-index: -1;
  }
  ion-label {
    background: #ffffff;
    padding-right: 5px;
  }
}

ion-avatar {
  span {
    @include font(1rem, 400, 0, unset, inherit, inherit, $white);
  }
}

ion-item-group {
  ion-item-divider {
    --padding-end: 0;
    --padding-start: 0;
    margin-bottom: 12px;
    @include font(1rem, 500, 0, unset, inherit, inherit, $font_color);
  }

  ion-item {
    --border-color: #3880ff;
    --padding-bottom: 4px;
    --padding-top: 4px;
    --min-height: 0;
  }

  ion-chip {
    @include font(0.9rem, 400, 0, unset, inherit, inherit, none);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 5px 15px;
    height: 24px;

    ion-icon {
      font-size: 14px;
    }
  }

  &.pre_conditon {
    ion-item {
      ion-label {
        &:not(:last-child) {
          @include font(0.9rem, 500, 0, unset, inherit, inherit, $font_color);
          margin-right: 10px;
        }

        &:last-child {
          margin: 0;
          overflow: visible;
          text-align: right;

          span {
            background: $health;
            border-radius: 20px;
            padding: 5px 15px;
            @include font(0.9rem, 400, 0, unset, inherit, inherit, $white);
          }
        }
      }

      &:nth-child(5) {
        ion-label {
          &:not(:last-child) {
            max-width: 60px;
          }
        }
      }
    }
  }

  &.recent {
    ion-item {
      ion-label {
        font-size: 14px;
      }
    }
  }
}