@import "../../app.scss";

ion-avatar {
  width: 70px;
  height: 70px;
}

ion-item {
  --background: #ffffff;
  --border-width: 0;
  --border-style: unset;
  --color: #2c2c2c;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --padding-end: 0;
  --padding-start: 0;
  padding: 10px 5px;
  &:not(:last-child) {
    @include border(0 0 1px 0, solid, #e3e3ef);
  }

  ion-label {
    margin: 0;
    position: relative;

    h2 {
      @include font(1.05rem, 400, 0, unset, right, inherit, $font_color);
    }

    h3 {
      @include font(1.25rem, 400, 0, capitalize, inherit, inherit, $font_color);
      white-space: pre-wrap;
    }

    h4 {
      @include font(1.05rem, 400, 0, unset, inherit, inherit, $font_color);
    }

    h6 {
      @include font(0.9rem, 400, 0, unset, inherit, inherit, $font_color);
      margin-top: 4px;
    }

    p {
      @include font(0.8rem, 400, 0, unset, inherit, inherit, $dark_grey);
    }

    .trans_btn {
      @include font(0.9rem, 400, 0, unset, center, inherit, $primary);
      margin: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      height: auto;

      svg {
        margin: 1px 2px 0 0;
      }
    }
  }
}
