<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Registration</ion-title>
		<ion-img slot="end" src="../../../assets/img/ico.png"></ion-img>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
	<ion-card [routerLink]="['self-care-register']" routerDirection="forward">
		<ion-card-content>{{'self_care' | translate}}</ion-card-content>
	</ion-card>
	<ion-card [routerLink]="['care-giver-register']" routerDirection="forward">
		<ion-card-content>{{'care_giver' | translate}}</ion-card-content>
	</ion-card>
	<ion-note><span>{{'note' | translate}}:</span><br>{{'reg_hints' | translate}}</ion-note>
</ion-content>