@import "../../app.scss";

ion-card {
  --background: #ffffff;
  --color: #483DF6;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0px;
  margin: 40px 0;

  ion-card-content {
    @include font(1.4rem, 500, 0, capitalize, center, inherit, inherit);
    @include flex(flex,nowrap,center,center);
    min-height: 110px;
  }
}

ion-note {
  @include font(0.9rem, 500, 0, capitalize, left, inherit, $dark_grey);
  margin-top: 30px;
  display: block;

  span{
    color: $font_color;
  }
}

form {
  ion-item {
    --background: transparent;
    --border-color: #BCBBCF;
    --highlight-color-focused: #483DF6;
    --highlight-color-valid: #483DF6;
    --highlight-color-invalid: #ea4e4e;
    --padding-start: 0;
    @include font(1rem, 500, 0, none, left, inherit, $font_color);
    margin-bottom: 10px;

    &.icon{
      --padding-end: 40px;
      overflow: visible;
    }

    ion-label {
      --color: #BCBBCF;
    }

    ion-button{
      position: absolute;
      top: -10px;
      right: -40px;
      width: 42px;
      min-height: 42px;
      --background: transprent;
      --border-radius: 50%;
      --box-shadow: none;
      --ripple-color: #fa5e61;
    }
  }

  p {
    @include font(0.75rem, 500, 0, none, left, inherit, $font_color);
    margin-top: 0px;
    display: block;
  }

  label{
    @include flex(flex,nowrap,center,unset);
    margin: 40px 0;

    ion-checkbox {
      margin-right: 10px;
    }
  }

}

ion-button {
  &:not(.button-has-icon-only){
    @include font(1.2rem, 500, 0, capitalize, center, inherit, inherit);
    --border-radius: 25px;
    --box-shadow: none;
    margin: 25px auto;
    max-width: 260px;
    min-height: 50px;
    --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }

  & + a{
    font-weight: 600;
    text-decoration: underline;
  }

  &.ion-color-light:hover{
    --background: rgba(255, 255, 255, 0.25);
  }
}

// .item-has-focus .label-floating.sc-ion-label-md-h{
//   color: #2c2c2c;
// }

h1{
  @include font(2.3rem, 400, 0, none, center, 36px, $font_color);

  &:first-letter{
    font-size: 26px;
  }
}

h2{
  @include font(1.25rem, 400, 0, none, left, inherit, $font_color);
}

h3{
  @include font(1.5rem, 500, 0, none, center, inherit, $font_color);
  margin-top: 50px;
}

h4{
  @include font(1.2rem, 400, 0, none, center, inherit, $dark_grey);
  text-decoration: line-through;
}

p{
  @include font(16px, 400, 0, none, inherit, inherit, $dark_grey);
}

.sucess{
  margin: -16px -16px 100px;
  background-color: $primary;
  height: 100px;
  ion-img{
    display: inline-flex;
    width: 140px;
    position: relative;
    top: 30px;
  }
}

ion-list{
  ion-item{
    --background: transparent;
    --padding-start: 0;
    --padding-end: 0;
    
    p{
      @include font(12px, 400, 0, none, inherit, inherit, $dark_grey);
    }
  }
}