// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-app {
    height: 100vh;
}
.bottom_sheet{
  .modal-wrapper{
    height: 290px;
    bottom: 0;
    position: absolute;
    display: block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.16);
  }
}
.modal_sheet{
&.sc-ion-modal-md-h {
  --width: 255px;
  --height: 325px;
  --border-radius: 5px;
  ion-backdrop {
    opacity: 0.32;
        background: #000;
    }
}
.ion-item{
  padding-left: 16px;
}

}