@import "../../../app.scss";

form {
  ion-item {
    --background: transparent;
    --border-color: #bcbbcf;
    --highlight-color-focused: #483df6;
    --highlight-color-valid: #483df6;
    --highlight-color-invalid: #ea4e4e;
    --padding-start: 0;
    @include font(1rem, 500, 0, none, left, inherit, $font_color);
    margin-bottom: 10px;

    ion-label {
      --color: #bcbbcf;
    }
  }
}
