<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>
    <ion-img slot="end" src="../../../assets/img/ico.png"></ion-img>
  </ion-toolbar>
  <ion-progress-bar color="tertiary" type="indeterminate" *ngIf="registerProgress"></ion-progress-bar>
</ion-header>
<ion-content class="ion-padding">
  
  <form [formGroup]="detailForm" (ngSubmit)="self_detail(detailForm.value)">
    <ion-item [ngClass]="{ 'ion-invalid': submitted && f.name.invalid,'ion-touched': submitted && f.name.invalid }">
      <ion-label position="floating">{{'name' | translate}}</ion-label>
      <ion-input type="text" #name_auto formControlName="name"></ion-input>
    </ion-item>
    <ion-item [ngClass]="{ 'ion-invalid': submitted && f.email.invalid,'ion-touched': submitted && f.email.invalid }">
      <ion-label position="floating">{{'email' | translate}}</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <p>{{'mail_hint' | translate}}</p>
    <ion-item [ngClass]="{ 'ion-invalid': submitted && f.password.invalid,'ion-touched': submitted && f.password.invalid }">
      <ion-label position="floating">{{'set_pwd' | translate}}</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item [ngClass]="{ 'ion-invalid': submitted && f.password1.invalid,'ion-touched': submitted && f.password1.invalid }">
      <ion-label position="floating">{{'confirm_pwd' | translate}}</ion-label>
      <ion-input type="password" formControlName="password1"></ion-input>
    </ion-item>
    <ion-item [ngClass]="{ 'ion-invalid': submitted && f.mobile_no.invalid,'ion-touched': submitted && f.mobile_no.invalid }">
      <ion-label position="floating">{{'mobile' | translate}}</ion-label>
      <ion-input type="tel" formControlName="mobile_no" (keypress)="_keyPress($event)"></ion-input>
    </ion-item>
    <ion-item class="icon" [ngClass]="{ 'ion-invalid': submitted && f.address.invalid,'ion-touched': submitted && f.address.invalid }">
      <ion-label position="floating">{{'address' | translate}}</ion-label>
      <ion-textarea type="text" formControlName="address"></ion-textarea>
      <ion-button>
        <svg xmlns="http://www.w3.org/2000/svg" width="16.5" height="16.5" viewBox="0 0 16.5 16.5">
          <path
            d="M8.25,0A8.25,8.25,0,1,0,16.5,8.25,8.259,8.259,0,0,0,8.25,0Zm0,15.485A7.235,7.235,0,1,1,15.485,8.25,7.243,7.243,0,0,1,8.25,15.485Z"
            fill="#fa5457" />
          <circle cx="0.849" cy="0.849" r="0.849" transform="translate(7.532 4.111)" fill="#fa5457" />
          <path
            d="M30.645,28.342a.508.508,0,0,0-.508.508v4.315a.508.508,0,1,0,1.015,0V28.85A.508.508,0,0,0,30.645,28.342Z"
            transform="translate(-22.487 -21.147)" fill="#fa5457" /></svg>
      </ion-button>
    </ion-item>
    <p>{{'address_hints' | translate}}</p>
    <!--  <ion-item>
      <ion-label position= "floating">Age</ion-label>
      <ion-textarea type= "text" formControlName="age"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position= "floating">Blood Group</ion-label>
      <ion-textarea type= "text" formControlName="blood_group"></ion-textarea>
    </ion-item> -->
    <ion-item [ngClass]="{ 'ion-invalid': submitted && f.country.invalid,'ion-touched': submitted && f.country.invalid }">
      <ion-label position="floating">{{'country' | translate}}</ion-label>
      <ion-input type="text" formControlName="country"></ion-input>
    </ion-item>
    <ion-item class="icon">
      <ion-label position="floating">{{'care_giver_name' | translate}}</ion-label>
      <ion-input type="text" formControlName="care_name"></ion-input>
      <ion-button>
        <svg xmlns="http://www.w3.org/2000/svg" width="16.5" height="16.5" viewBox="0 0 16.5 16.5">
          <path
            d="M8.25,0A8.25,8.25,0,1,0,16.5,8.25,8.259,8.259,0,0,0,8.25,0Zm0,15.485A7.235,7.235,0,1,1,15.485,8.25,7.243,7.243,0,0,1,8.25,15.485Z"
            fill="#fa5457" />
          <circle cx="0.849" cy="0.849" r="0.849" transform="translate(7.532 4.111)" fill="#fa5457" />
          <path
            d="M30.645,28.342a.508.508,0,0,0-.508.508v4.315a.508.508,0,1,0,1.015,0V28.85A.508.508,0,0,0,30.645,28.342Z"
            transform="translate(-22.487 -21.147)" fill="#fa5457" /></svg>
      </ion-button>
    </ion-item>
    <ion-item class="icon">
      <ion-label position="floating">{{'care_giver_no' | translate}}</ion-label>
      <ion-input type="tel" formControlName="care_mobile" (keypress)="_keyPress($event)"></ion-input>
      <ion-button>
        <svg xmlns="http://www.w3.org/2000/svg" width="16.5" height="16.5" viewBox="0 0 16.5 16.5">
          <path
            d="M8.25,0A8.25,8.25,0,1,0,16.5,8.25,8.259,8.259,0,0,0,8.25,0Zm0,15.485A7.235,7.235,0,1,1,15.485,8.25,7.243,7.243,0,0,1,8.25,15.485Z"
            fill="#fa5457" />
          <circle cx="0.849" cy="0.849" r="0.849" transform="translate(7.532 4.111)" fill="#fa5457" />
          <path
            d="M30.645,28.342a.508.508,0,0,0-.508.508v4.315a.508.508,0,1,0,1.015,0V28.85A.508.508,0,0,0,30.645,28.342Z"
            transform="translate(-22.487 -21.147)" fill="#fa5457" /></svg>
      </ion-button>
    </ion-item>
    <ion-note><span>{{'note' | translate}}</span><br>{{'care_giver_hint' | translate}}</ion-note>

    <label>
      <ion-checkbox [checked]="checkStatus" formControlName="checkStatus"></ion-checkbox>
      {{'agree' | translate}} &nbsp;<a color="primary" (click)="goToterms()">{{'terms_conditions' | translate}}</a>
    </label>
    <button class="btn_submit btn_login" type="submit" [disabled]="registerProgress">{{'reg_now' | translate}}</button>
    <!-- <ion-item class="ion-float-right">
      <ion-button type="submit" [disabled]="detailForm.invalid">Register -->
    <!-- {{'reg_now' | translate}} -->
    <!-- <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item> -->
  </form>
</ion-content>
<ion-backdrop *ngIf="registerProgress"></ion-backdrop>